---
import Layout from '../layouts/Layout.astro';
import Section from '../components/SectionContainer.astro'
import Button from '../components/Button.astro'
import Projects from '../components/Projects.astro'
import Link from '../components/Link.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import LinktreeIcon from '../components/icons/Linktree.astro';
---

<Layout 
	title="NixiusDev | Portfolio"
	description="Specializing in graphic design, web development, and programming, committed to providing creative and functional solutions for your projects."
>
    <main class="max-w-4xl mx-auto">
		<Section className="flex flex-col items-center justify-center h-screen">
			<div class="text-center lg:mb-8 sm:mb-4 mb-2">
				<h1 class="text-white font-dharma-gothic mb-4 lg:text-[19.5rem] lg:leading-[11rem] sm:text-[11rem] sm:leading-[5rem] text-8xl leading-8">Nourddin</h1>
				<p class="text-[var(--color-white-200)] lg:text-4xl sm:text-2xl">Design or programming? The answer is yes.</p>
			</div>			
			
			<div class="flex space-x-4">
				<Button link='/benhadi-cv.webp' className="px-12 bg-[var(--color-violet-200)]">
					Download CV
				</Button>
				<Button link="https://github.com/nxrddinbnh" className="px-3 bg-[var(--color-violet-200)] hidden sm:flex">
					<GitHubIcon />
				</Button>
				<Button link="https://linktr.ee/nxrddinbnh" className="px-3 bg-[var(--color-linktree)]">
					<LinktreeIcon />
				</Button>
			</div>			
		</Section>
		
		<Section id="work" title={ { first: "My", second: "Work", bg: "Projects" } }>
			<Projects />
		</Section>

		<Section id="about" title={ { first: "About", second: "Me", bg: "About Me" } }>
			<p>
				My passion for <strong class="text-[var(--color-violet-100)]">graphic design began in <b>2020</b></strong>, when I accidentally stumbled into this world and began self-learning. What started as a 
				hobby soon turned into something <strong class="text-[var(--color-violet-100)]">more professional as I started working with clients</strong>, primarily focusing on creating animated stream packs 
				and other designs for social media.
			</p>
			<p>
				I decided to expand my skills and knowledge by exploring the field of programming. I started with web languages like HTML and CSS, and then 
				ventured into more robust languages like C and C++. However, <strong class="text-[var(--color-violet-100)]">my true ambition is to create my own video game</strong>, which led me to delve into the world 
				of C# and Unity for game development.
			</p>
			<p>
				Outside of the screen, I enjoy activities that allow me to disconnect and recharge. I'm a cinephile and am always on the lookout for new movies to 
				watch. Additionally, I love staying active by playing sports. And yes, I have a weakness for junk food; although it may seem contradictory to my love for 
				sports, I manage to stay slim!
			</p>

			<div class="mt-8">
				<div><Link link="https://maps.app.goo.gl/MrqzDzJrYF5CKqEF9" text="42000, Saint-Étienne, FRANCE"/></div>
				<div><Link link="mailto:nxrddinbenhadi@gmail.com" text="nxrddinbenhadi@gmail.com"/></div>
				<div><Link link="/benhadi-cv.webp" text="Download Curriculum"/></div>
				
				<div class="flex space-x-1">
					<Link link="/" text="www"/>
					<p>/</p>
					<Link link="https://github.com/nxrddinbnh" text="gh"/>
					<p>/</p>
					<Link link="https://www.linkedin.com/in/nourddin-benhadi-35395426a/" text="in"/>
					<p>/</p>
					<Link link="https://www.instagram.com/nixiusdev_" text="ig"/>
					<p>/</p>
					<Link link="https://www.behance.net/nixiusdev" text="be"/>
				</div>
			</div>			
		</Section>
    </main>
</Layout>