---
import Link from '../components/Link.astro'
---

<footer class="flex items-center justify-center p-3 mt-10">
    <p class="text-center">Nourddin Benhadi - Visit my <Link link="https://github.com/nxrddinbnh" text="GitHub"></Link ></p>
</footer>