---
import MailIcon from '../components/icons/Mail.astro';
---

<nav class="fixed flex flex-col justify-between h-screen py-8 px-6 size-20 ml-2">
    <a href="#top" class="mb-8 bg-customViolet rounded-md flex items-center justify-center transition-colors duration-300 ease-in-out hover:text-white">
        <img src="../../public/logo/NixiusDev-Concept.png" alt="NX" class="w-auto h-auto max-h-8">
    </a>

    <div class="flex flex-col items-center justify-center">
        <a href="#work" class="transition-colors duration-300 ease-in-out hover:text-white mb-10 text-lightWhite transform -rotate-90">WORK</a>
        <a href="#about" class="transition-colors duration-300 ease-in-out hover:text-white text-lightWhite transform -rotate-90">ABOUT</a>
    </div>

    <div class="relative mt-auto group">
        <a href="mailto:nxrddinbenhadi@gmail.com" class="flex items-center justify-center transition-colors duration-300 ease-in-out hover:text-white text-lightWhite">
            <MailIcon class="w-8 h-8" />
        </a>
        <span class="absolute invisible bottom-0 left-full text-lightWhite group-hover:visible mb-1">nxrddinbenhadi@gmail.com</span>
    </div>
</nav>
