---
import Menu from '../components/Menu.astro';
import '@fontsource/lato/300.css';
import '@fontsource/lato/400.css';
import '@fontsource/lato/700.css';

interface Props {
	title: string;
	description: string;
}

const { title, description} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo/NixiusDev-Icon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Menu />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
		--color-white-100 : #eeeef2;
		--color-white-200: #b2b4d3;
		--color-white-300: #868a9f;

		--color-violet-100: #c2c7e9;
		--color-violet-200: #818fe5;
		--color-violet-400: #1f2335;

		--color-linktree: #43e660;
	}
	html {
		font-family: 'Lato', system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
        position: relative;
        min-height: 100vh;
        background-color: #0f111a;
    }
	@media (prefers-reduced-montion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
    body::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/GUI/Grid.png');
        background-position: center;
        opacity: 0.05;
        z-index: -1;
    }
	@font-face {
        font-family: 'DharmaGotic';
        src: url('/fonts/DharmaGotic/DharmaGothicE-ExBold.ttf') format('truetype');
    }
	@font-face {
        font-family: 'DharmaGotic-Regular';
        src: url('/fonts/DharmaGotic/DharmaGothicE-Regular.ttf') format('truetype');
    }
    @font-face{
        font-family: 'Lato';
        src: url('/fonts/Lato/Lato-Light.ttf') format('truetype');
    }
	.font-dharma-gothic{
		font-family: 'DharmaGotic', sans-serif;
	}
	.font-dharma-gothic-regular{
		font-family: 'DharmaGotic-Regular', sans-serif;
	}
	p{
		color: #868a9f;
		margin-bottom: 10px;
		text-wrap: pretty;
	}
</style>
